@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

/* colors for website
https://colorhunt.co/palette/f8f4e1feba1774512d4e1f00 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #4E1F00;
  min-height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
}

.logo {
  cursor: pointer;
}

.img-logo {
  display: flex;
  box-sizing: border-box;
  margin-right: auto;
}

img {
  height: 30px;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.left-panel {
  list-style: none;
}

.left-panel li {
  display: inline-block;
  padding: 0 1em;
}

.left-panel li a{
  transition: all 0.3s ease 0s;
}

.left-panel li a:hover{
  color: #D98324;
}

button {
  padding: 9px 25px;
  background-color: #D98324;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}

button:hover {
  background-color: rgba(217, 131, 36, 0.8);
}