:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(78, 31, 0, 0.87);
  background-color: rgb(248 244 225);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
/* a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #D98324;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px); 
  background-color: rgba(0, 0, 0, 0.4); /* Dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: rgb(248 244 225);
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1001;
}

.modal input,
.modal select,
.modal textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(78, 31, 0, 0.87);
  color: rgba(78, 31, 0, 0.87);
}

textarea::placeholder,
input::placeholder {
  font-weight: 500;
  opacity: 0.6;
  color: #a5adba;
}

.modal button {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
}

/* .board div {
  display: "flex";
  grid-template-columns: repeat(5, auto);
  gap: "2em";
  margin-top: "2em";
} */


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #D98324;
  }
  button {
    background-color: #f9f9f9;
  }
}
